* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* -----------------HEADER---------------- */

header {
    background-color: #f28b50;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.navegador {
    background-color: #f28b50;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: rgb(15, 15, 15);
    letter-spacing: 1px;
}

.logo img {
    width: 4vw;
    height: 8vh;
    align-self:flex-end;
}

.logo h1 {
    align-self: flex-end;
    padding: 0;
    margin: 0;
}

.search {
    margin-left: 15vw;    
}

.search input {
    color: white;
    border-bottom: solid 1px white;
    background-color: inherit;
}

.search input:focus {
    border:inherit;
    border-radius: inherit;
    border-bottom: solid 1px white;
    text-align: start;    
}

.search a {
    color: white;
}

/* ....menu.... */

.menu {
    background-color: white;
    width: 100vw;
    height: 8vh;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-item {
    padding: 0 15px;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(15, 15, 15);
    letter-spacing: 1px;
}

.categorias-links {
    display: flex;
    flex-direction: row;
}

/* -------------------CONTAINER---------------- */

.container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

/*------------FORMULÁRIO------------- */

form {
    background-color: white;
    width: 40vw;
    margin: 3.2rem;
    padding: 1.6rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.8vw;
    color: #301318;
}

select {
    border-style: none;
    width: 30vw;
    margin-top: 0.8rem;
    padding: .9rem;
    border-radius: 15px;
    background-color: #F2F2F2;
    border-color: none;
    color: #301318;
    font-size: 1.2vw;
    text-align: center;    
}

select:focus {
    outline-style: none;
    border-color: #B5BF69;
    border: solid 1px #B5BF69
}

input {
    border: none;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 30vw;
    outline-style: none;
    margin-top: 1rem;
    padding: 0.9rem;
    font-weight: 500;
    font-size: 1.2vw;
    text-align: center;    
}

input:focus {
    border-color: #B5BF69;
    border: solid 1px #B5BF69;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .05rem;
}

.ingredientes-texto {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

textarea {
    resize: none;
    border-radius: 15px;
    width: 30vw;
    padding: 0.4rem;
    font-weight: 500;
    font-size: 1.2vw;
    border: 0;
    margin: 1rem;
    background-color: #F2F2F2;
    text-align: center;  
}

textarea:focus {
    outline-style: none;
    border-color: #B5BF69;
    border: solid 1px #B5BF69;
    font-style: italic;
    font-weight: 500;
}

button {
    margin: 1.2rem;
    padding: 0.6rem;
    width: 9vw;
    background-color: #BF4D0B;
    border: none;
    border-radius: 20px;
    color: #F2F2F2;
    font-size: 1.5vw
}

button:hover {
    background-color:#B5BF69;
    color: #a34d1b ;
}

/*.... estrutura do card.... */

.card {
    background-color: white;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 40vw;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.video {
    margin-bottom: .5rem;
    width: 100%;
    height: 315px;
}

.card-label {
    font-weight:700;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
.card-content {
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}

/* ----------------FOOTER---------------- */
footer {
    background-color: #ac4509;
    bottom: 0;
    width: 100vw;
    display: flex;
    padding-top: 25px;
    justify-content: space-evenly;
}

/* ....links do footer .... */

.user-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;  
}

.user-links > li {
    list-style: none;
    margin-bottom: 10px;
    flex-basis: 30%;
    text-align: center;
}

.user-links > li > a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 00;
}

.user-links > li > a:hover {
    text-decoration: underline;
}

/*....ícones do footer....*/

.icones-footer {
    display: flex;
    justify-content: center;
}

.icones-footer i {
    color: #e8e8e8;
    font-size: 2rem;
    margin-right: 7px;
    flex-basis: 30%;
}

/*....cabeçalho....*/

.cabecalho {
    margin-top: 5vh;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

/* ---------------MEDIA QUERIES-------------- */

/*....de 280 a 640px.... */
@media (min-width: 280px) and (max-width: 640px) {
    
    header {
        width: 100vw;
    }

    .logo {
        display: none;
    }

    .search {
        width:100vw;
        /* trazer o search para o meio */
    }

    .menu {
        width: 100vw;
        height: 20vh;
        padding: 3vw;
        display: flex;
        flex-wrap: wrap;
        box-shadow: .5px .5px #f28b50;
    }

    .menu-item {
        padding: 0.5rem;
    }

    .container {
        background-color: white;
    }

    .imagem {
        background-color: white;
    }

    /* formulario */

    form {
        width: 100vw;
        border-radius: 0;
        padding-top: 0;   
    }

    form h2 {
        font-size: 6vw;
    }

    label, input {
        font-size: 4vw;
    }

    input {
        width: 70vw;
    }

    select {
        width: 70vw;
        font-size: 4vw;
    }

    textarea {
        width: 70vw;
        height: 20vh;
        font-size: 4vw;
    }

    button {
        font-size: 4vw;
        width: 20vw;
        border-radius: 5px;
    }

    .imagem img {
        width: 100vw;
    }

    .imagem p {
        font-size: 4vw;
        margin: 0;
        width: 95vw;
        margin-bottom: 20px;
    }

    /*....footer....*/

    footer {
        padding: 25px;        
    }   
}

/* 640 a 1024px */

@media (min-width: 640px) and (max-width: 1024px) {
    
    header {
        width: 100vw;
    }

    .logo {
        display: flex;
        justify-content: space-evenly;
    }

    .logo img {
        width: 7vw;
        height: 7vh;
    }

    .search {
        margin-left: 15vw;        
    }

    .menu {
        width: 100vw;
        height: 10vh;
        padding: 3vw;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-item {
        padding: 0.7rem;
    }

    ul .menu {
        padding-bottom: 100px;
    }

    /*....formulario....*/

    form {
        width: 70vw;
    }

    form h2 {
        font-size: 4vw;
    }

    label, input, textarea {
        font-size: 3vw;
    }

    input, select, textarea {
        width: 50vw;
    }

    select {
        font-size: 2.5vw;
    }

    button {
        width: 15vw;
        font-size: 2vw;
    }

    .imagem img {
        width: 100vw;
    }

    .imagem p {
        font-size: 2.5vw;
    }

    /* footer */

    .footer-content {
        margin-top: 15px;       
    }

    .cabecalho {
        margin-bottom: 15px;
    }
}

