* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* Tamanhos padrões de header, footer e container */


/* -----------------HEADER---------------- */
header {
    background-color: #f28b50;
    top: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.navegador {
    background-color: #f28b50;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    color: rgb(15, 15, 15);
    letter-spacing: 1px;
}
.logo img {
    width: 4vw;
    height: 8vh;
}
.search {
    margin-left: 15vw; /* não sei se estou usando essas medidas da maneira correta */
    
}
.search input {
    color: white;
    border-bottom: solid 1px white;
}
.search a {
    color: white;
}
/* ........................... */
.menu {
    background-color: white;
    width: 100vw;
    height: 8vh;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.menu-item {
    padding: 0 15px;
}
.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(15, 15, 15);
    letter-spacing: 1px;
}
.categorias-links {
    display: flex;
    flex-direction: row;
}


/* ----------------FOOTER---------------- */
footer {
    background-color: #ac4509;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}
.footer-content {
    /* max-width: 600px; */
}
/* .............links do footer .............. */
.user-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;  
}
.user-links > li {
    list-style: none;
    margin-bottom: 10px;
    flex-basis: 30%;
    text-align: center;
}
.user-links > li > a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 00;
}
.user-links > li > a:hover {
    text-decoration: underline;
}
/*...........ícones do footer............ */
.icones-footer {
    display: flex;
    justify-content: center;

}
.icones-footer i {
    color: #e8e8e8;
    font-size: 2rem;
    margin-right: 7px;
    flex-basis: 30%;
}
/*.............cabeçalho...............  */
.cabecalho {
    margin-top: 5vh;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
}

/* -------------------CONTAINER---------------- */
.container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}

/* Formulário */

form {
    background-color: white;
    width: 40vw;

    margin: 3.2rem;
    padding: 1.6rem;
    border-radius: 5px;
    

    display: flex;
    flex-direction: column;

    align-items: center;

}

form h2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 2.8vw;
    color: #301318;
}

select {
    border-style: none;
    border: solid 1px #BF4D0B;
    width: 30vw;
    margin-top: 0.8rem;
    padding: .4rem;
    border-radius: 5px;
    background-color: rgb(226, 223, 223);
    border-color: none;
    color: #301318;
    font-size: 1.5vw;
    
}

select:focus {
    outline-style: none;
}

label {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.5vw;
    color: #301318;
}

input {
    border: none;
    border-bottom: solid 1px #BF4D0B;
    width: 30vw;
    background-color: inherit;
    outline-style: none;
    margin-top: 0.8rem;
    padding: 0.2rem;
    font-weight: 500;
    font-size: 1.2vw;
    
}

input:focus {
    border-color: #B5BF69;
    border: solid 1px #B5BF69;
    border-radius: 5px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: .05rem;
}

.ingredientes-texto {
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

textarea {
    resize: none;
    background-color: inherit;
    border-radius: 5px;
    outline-style: none;
    width: 30vw;
    padding: 0.4rem;
    border-color: #BF4D0B;
    font-weight: 500;
    font-size: 1.2vw;

}

textarea:focus {
    
    font-style: italic;
    font-weight: 500;
}


button {
    margin: 1.2rem;
    padding: 0.6rem;
    width: 7vw;
    background-color: #BF4D0B;
    border: none;
    border-radius: 5px;
    color: #F2F2F2;
    font-size: 1.5vw
}

button:hover {
    background-color:#B5BF69;
    color: #a34d1b ;
}

/* Estrutura da imagem a aparecer mediante js */

.imagem {
    background-color: #f2f2f2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagem img {
    margin: 1.6rem;
    width: 50vw;
}

.imagem p {
    width: 50vw;
    margin: 1.6rem auto;
    font-weight: 600;
    font-size: 1.5vw;

}


/* de 280 a 640px */


@media (min-width: 280px) and (max-width: 639px) {
    
    header {
        width: 100vw;
    }
    .logo {
        display: none;
    }
    .search {
        width:100vw;
        /* trazer o search para o meio */
    }
    .menu {
        width: 100vw;
        height: 20vh;
        padding: 3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .menu-item {
        padding: 0.5rem;
    }

    form {
        width: 100vw;
        border-radius: 0;
        padding-top: 0;

        
    }

    form h2 {
        font-size: 6vw;
        margin-top: 1rem;
    }

    label, input {
        font-size: 4vw;
    }

    input {
        width: 70vw;
    }

    select {
        width: 70vw;
        font-size: 4vw;
    }

    textarea {
        width: 70vw;
        height: 20vh;
        font-size: 3vw;
    }

    button {
        font-size: 4vw;
        width: 20vw;
    }



    .imagem img {
        width: 100vw;
    }

    .imagem p {
        font-size: 4vw;
        margin: 0;
        width: 95vw;
        margin-bottom: 20px;

    }

    footer {
        padding: 25px;
        
    }
   
}

/* Media Queries de 640 a 1024px */

@media (min-width: 640px) and (max-width: 1024px) {
    header {
        width: 100vw;
    }
    .logo {
        display: flex;
        justify-content: space-evenly;
    }
    .logo img {
        width: 7vw;
        height: 7vh;
    }
    .search {
        margin-left: 15vw; /* não sei se estou usando essas medidas da maneira correta */
        
    }
    .menu {
        width: 100vw;
        height: 10vh;
        padding: 3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .menu-item {
        padding: 0.7rem;
    }

    form {
        width: 70vw;
    }

    form h2 {
        font-size: 4vw;
    }

    label, input, textarea {
        font-size: 3vw;
    }

    input, select, textarea {
        width: 50vw;
    }

    select {
        font-size: 2.5vw;
    }

    button {
        width: 15vw;
        font-size: 2vw;

    }


    .imagem img {
        width: 100vw;
    }

    .imagem p {
        font-size: 2.5vw;
    }

    /* footer */
    .footer-content {
        margin-top: 15px;       
    }
    .cabecalho {
        margin-bottom: 15px;
    }


}

@media (min-width: 1366px) and (max-width: 1920px) {
    header {
        top: 0px;
        width: 100vw;
        
    }
    
    footer {
        padding: 60px;
        width: 100vw;
        display: flex;
    }
    
    .container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    /* Formulário */
    
    form {
        background-color: white;
        width: 35vw;
    
        margin: 3.2rem;
        padding: 1.6rem;
        border-radius: 5px;
        
    
        display: flex;
        flex-direction: column;
    
        align-items: center;
    
    }
    
    form h2 {
        margin-top: 1rem;
        margin-bottom: 4rem;
        font-size: 1.8vw;
        color: #301318;
    }
    
    select {
        border-style: none;
        border: solid 1px #BF4D0B;
        width: 25vw;
        margin-top: 0.8rem;
        padding: .4rem;
        border-radius: 5px;
        border-color: #BF4D0B;
        color: #301318;
        font-size: 1vw;
        
    }
    
    select:focus {
        outline-style: none;
    }
    
    label {
        margin: 0.8rem;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        font-size: 1vw;
        color: #301318;
    }
    
    input {
        border: none;
        border-bottom: solid 1px #BF4D0B;
        width: 25vw;
        background-color: inherit;
        outline-style: none;
        margin-top: 0.8rem;
        padding: 0.2rem;
        font-weight: 500;
        font-size: 1.2vw;
        
    }
    
    input:focus {
        border-color: #B5BF69;
        border: solid 1px #B5BF69;
        border-radius: 5px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: .05rem;
    }
    
    .ingredientes-texto {
        margin-bottom: 0.8rem;
        margin-top: 1rem;
    }
    
    textarea {
        resize: none;
        background-color: inherit;
        border-radius: 5px;
        outline-style: none;
        width: 25vw;
        padding: 0.4rem;
        border-color: #BF4D0B;
        font-weight: 500;
        font-size: 1vw;
    
    }
    
    textarea:focus {
        
        font-style: italic;
        font-weight: 500;
    }
    
    
    button {
        margin: 1.2rem;
        padding: 0.6rem;
        width: 7vw;
        background-color: #BF4D0B;
        border: none;
        border-radius: 5px;
        color: #F2F2F2;
        font-size: 1vw
    }
    
    button:hover {
        background-color:#B5BF69;
        color: #a34d1b ;
    }
    
    /* Estrutura da imagem a aparecer mediante js */
    
    .imagem {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .imagem img {
        margin: 1.6rem;
        max-width: 50vw;
    }
    
    .imagem p {
        width: 40vw;
        margin: 1.6rem auto;
        font-weight: 600;
        font-size: 1.5vw;
        padding: 1rem;
        
        justify-self: center;
    
    }
}
